<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <div class="main">
    <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Choose one option</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark"
          aria-controls="offcanvasNavbarDark">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark"
          aria-labelledby="offcanvasNavbarDarkLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">둘러보기</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <h2>버섯의 갓 모양을 선택해주세요</h2>
      </div>
      <form action="/mushroom/ans" method="POST" class="form">  
      <div class="row first">
        <div class="col-md-2 set">
          <input type="radio" name="cs" id="img1" value="b">
          <label for="img1">
              <img class="img-fluid rounded set1" src="{{url_for('static', filename='img/종.jpg')}}" alt="">
          </label>
          <p>종 모양</p>
        </div>
        <div class="col-md-2 set">
          <input type="radio" name="cs" id="img2" value="c">
          <label for="img2">
            <img class="img-fluid rounded set1" src="{{url_for('static', filename='img/원뿔.jpg')}}" alt="">
          </label>
          <p>원뿔 모양</p>
        </div>
        <div class="col-md-2 set">
          <input type="radio" name="cs" id="img3" value="f">
          <label for="img3">
            <img class="img-fluid rounded set1" src="{{url_for('static', filename='img/평평.jpg')}}" alt="">
          </label>
          <p>평평한 모양</p>
        </div>
        <div class="col-md-2 set">
          <input type="radio" name="cs" id="img4" value="k">
          <label for="img4">
            <img class="img-fluid rounded set1" src="{{url_for('static', filename='img/혹.jpg')}}" alt="">
          </label>
          <p>혹 모양</p>
        </div>
        <div class="col-md-2 set">
          <input type="radio" name="cs" id="img5" value="s">
          <label for="img5">
            <img class="img-fluid rounded set1" src="{{url_for('static', filename='img/오목.jpg')}}" alt="">
          </label>
          <p>오목한 모양</p>
        </div>
        <div class="col-md-2 set">
          <input type="radio" name="cs" id="img6" value="x">
          <label for="img6">
            <img class="img-fluid rounded set1" src="{{url_for('static', filename='img/볼록.jpg')}}" alt="">
          </label>
          <p>볼록한 모양</p>
        </div>
      </div>

      <div class="row first-2">
        <div class="col-md-10 offset-md-2 ">
          <img class="img-fluid img12" src="{{url_for('static', filename='img/cap_shape.jpg')}}" alt="참고사진">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-4 box">
          <span class="badge bg-secondary">참고사진</span>
        </div>
        
      </div>

      <hr>

      <div class="row second-1">
        <h2>버섯 갓의 색상을 선택해주세요</h2>
      </div>
      
      <div class="row second-2">

        <div class="col-md-1 offset-md-1 box">
          <input type="radio" name="color" value="b" id="c1">
          <label class="ce" for="c1">담황색</label>  
          <input type="color" value="#f0dc82" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="c" id="c2">
          <label class="ce" for="c2">시나몬</label>  
          <input type="color" value="#d2691e" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="e" id="c3">
          <label class="ce" for="c3">빨강색</label>  
          <input type="color" value="#ff0000" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="g" id="c4">
          <label class="ce" for="c4">회색</label>  
          <input type="color" value="#808080" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="n" id="c5">
          <label class="ce" for="c5">갈색</label>  
          <input type="color" value="#964B00" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="p" id="c6">
          <label class="ce" for="c6">분홍색</label>  
          <input type="color" value="#ffc0cb" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="r" id="c7">
          <label class="ce" for="c7">초록색</label>  
          <input type="color" value="#008000" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="u" id="c8">
          <label class="ce" for="c8">보라색</label>  
          <input type="color" value="#800080" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="w" id="c9">
          <label class="ce" for="c9">흰색</label>  
          <input type="color" value="#ffffff" disabled>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="color" value="y" id="c10">
          <label class="ce" for="c10">노랑색</label>  
          <input type="color" value="#ffff00" disabled>
        </div>

      </div>

      <hr>
      
      <div class="row third-1">
        <h2>버섯의 향을 선택해주세요</h2>
      </div>

      <div class="row third-2">
        <div class="col-md-1 offset-md-1 box">
          <input type="radio" name="od" value="a" id="s1">
          <label class="ce" for="s1">아몬드향</label> 
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="od" value="c" id="s2">
          <label class="ce" for="s2">연기향</label>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="od" value="f" id="s3">
          <label class="ce" for="s3">악취향</label>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="od" value="l" id="s4">
          <label class="ce" for="s4">향신료향</label>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="od" value="m" id="s5">
          <label class="ce" for="s5">퀴퀴한향</label>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="od" value="n" id="s6">
          <label class="ce" for="s6">무향</label>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="od" value="p" id="s7">
          <label class="ce" for="s7">시큼한향</label>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="od" value="s" id="s8">
          <label class="ce" for="s8">매운향</label>
        </div>
        <div class="col-md-1 box">
          <input type="radio" name="od" value="y" id="s9">
          <label class="ce" for="s9">비린향</label>
        </div>
      </div>
      
      <hr>

      <div class="row forth-1">
        <h2>버섯 자루의 모양을 선택해주세요</h2>
      </div>

      <div class="row forth-2">
        <div class="col-md-3 offset-md-3 box">
          <input type="radio" name="ss" value="e" id="st1">
          <label class="ce" for="st1">점점 확대</label>
        </div>
        <div class="col-md-3 box">
          <input type="radio" name="ss" value="t" id="st2">
          <label class="ce" for="st2">점점 축소</label>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-2 offset-md-10">
          <input class="btn btn-primary" type="submit" value="결과 확인">
        </div>
      </div>
      </form>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>